@{
  Layout = "_Layout";
}

<h1>Create a new tag</h1>
<form method="post" action="/tag">
  <div class="form-group">
    <label for="tag-name">Tag Name</label>
    <input type="text" name="tag-name" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>
<a href="/tag">Return Home</a>
