@{
  Layout = "_Layout";
}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <h2>Enter your ingridients down below</h2>
    <form action="../../" method="post">
      <label for=""></label>
      <input id="" type="text">
      <label for=""></label>
      <input id="" type="text">
      <button type="submit" class="btn-primary"></button>
    </form>
  </body>
</html>
